<app-user></app-user>

<div class="row container ">
  <div class="col-md-3">
    <form action="" class="search_form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search git Users with username" [(ngModel)]="username"
          name="username" (keyup)="findProfile()">
      </div>
    </form>
  </div>

  <div class="col-md-5" *ngIf="profile">
    <img src="{{profile.avatar_url}}" alt="avatar" class="img-circle img-responsive circle">
    <ul class="list-group">
      <li class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
      <li class="list-group-item" *ngIf="profile.hireable">{{profile.hireable}}</li>
      <li class="list-group-item" *ngIf="profile.blog"><a href="{{profile.blog}}" target="_blank">{{profile.blog}}</a>
      </li>
      <li class="list-group-item" *ngIf="profile.email"><a href="{{profile.email}}">{{profile.email}}</a></li>
    </ul>

    <div class=" col-md-4 profile">
      <p>{{profile.name}}</p>
      <p>{{profile.login}}</p>
      <p>{{profile.location}}</p>
    </div>
    <div>
      <p>
        <span class="btn btn-danger">{{profile.followers}} followers</span>
        <span class="btn btn-primary">Following {{profile.following}}</span>
        <span class="btn btn-info">{{profile.public_repos}} Public Repos</span>
      </p>
      <p><a href="{{profile.html_url}}" class="btn btn-primary" target="_blank">Find me on github</a></p>
    </div>
  </div>


    <div class=" row container" style="margin-left:25%;">
      <div class="col">

        <h2 class="limo">Repositories</h2>
      </div>


      <div class="card" *ngFor="let repo of repos">
        <p class="clearfix">
          {{repo.name}} <a href="{{repo.html_url}}" class="btn btn-sm btn-warning pull-right" target="_blank">view
            Repository</a>

        </p>
        <p>{{repo.description}}</p>
      </div>
    </div>
  